[buildout]
extends = eea.cfg
index = https://pypi.python.org/simple

# v6 <- increment when doing a docker release

auto-checkout =
  wise.theme
  wise.content
  bise.datatiles
  eea.depiction
  eea.rdfmarshaller
#  eea.converter
#  eea.pdf

always-checkout = true
allow-picked-versions = true

[configuration]
eggs +=
  wise.theme
  wise.content
  bise.datatiles
  plone.app.tiles
  plone.app.contenttypes
  plone.api
  tlspu.cookiepolicy
  plone.app.referenceablebehavior
  python-redmine
  Products.PloneFormGen
  collective.recaptcha
  plone.formwidget.recaptcha

zcml +=
  wise.theme
  wise.content
  bise.datatiles
  plone.app.tiles
  plone.app.contenttypes
  plone.api
  tlspu.cookiepolicy
  plone.app.referenceablebehavior
  plone.app.iterate

[sources]
wise.theme     = git https://github.com/eea/wise.theme.git branch=external-templates pushurl=git@github.com:eea/wise.theme.git
wise.content   = git https://github.com/eea/wise.content.git branch=msfd-search pushurl=git@github.com:eea/wise.content.git
bise.datatiles = git https://github.com/eea/bise.datatiles.git pushurl=git@github.com:eea/bise.datatiles.git
# eea.converter  = git https://github.com/eea/eea.converter.git pushurl=git@github.com:eea/eea.converter.git
# eea.pdf        = git https://github.com/eea/eea.pdf.git pushurl=git@github.com:eea/eea.pdf.git

eea.rdfmarshaller = git https://github.com/eea/eea.rdfmarshaller.git branch=develop
eea.depiction = git https://github.com/eea/eea.depiction.git branch=develop

[versions]
z3c.jbot = 0.7.2

# collective.cover compatibility
collective.js.bootstrap = 3.3.5
plone.api = 1.5
plone.app.blocks = 3.1.0
plone.app.drafts = 1.0
plone.app.event = 1.2.7
plone.app.tiles = 1.1.0
plone.event = 1.1
plone.tiles = 1.8.0

# plone.app.contenttypes = 1.2.9
plone.app.widgets = 1.9.1


plone.app.iterate = 3.1.4

collective.dexteritytextindexer = 2.0.1
Products.PloneFormGen = 1.7.23

transaction = 2.2.1
